*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 1300px;
    font-family: "微软雅黑"!important;
}
a{
    color: white;
}
a:hover{
    text-decoration: none;
}
.wrapper_index{
    position: relative;
    background-color: #fff;
    width: 100%;
}

/*导航栏*/
.nav_bar{
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,.2);
}
.header{
    width: 100%;
    height: 59px;
    color: #ffffff;
}
.header a{
    color: #ffffff;!important;
}
.logo{
    float: left;
    width: 180px;
    height: 100%;
    /*background-color: #3cb570;*/
    color: #ffffff;
    font-family: "华文隶书";
    text-align: center;
    line-height: 59px;
    font-size: 3em;
}
.positioning{
    float: left;
    line-height: 59px;
    margin-left: -20px;
    font-size: 0.9em;
    cursor: pointer;
}
.positioning span{
    display: block;
    width: 60px;
    height: 26px;
    line-height: 26px;
    margin-top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 10px;
    background: rgba(0,0,0,0.25);
}
.positioning span i{
    margin-right: 3px;
}
.header nav {
    float: left;
    width: calc(100% - 240px);
}
.header nav ul{
    list-style: none;
    line-height: 59px;
}
.header nav ul li{
    height: 59px;
    line-height: 59px;
    cursor: pointer;
}


.nav_bar_left{
    float: left;
    margin: 0 0 0 30px;
    font-size: 1.1em;
}
.nav_bar_left a:hover{
    color: #ffffff!important;
    text-decoration: none;
}
.nav_bar_left a:visited{
    color: #ffffff!important;
    text-decoration: none;
}
.nav_bar_left li{
    float: left;
    display: inline-block;
    padding: 0 10px;
}
.nav_bar_left li a{
    position: relative;
    padding: 9px 5px;
}
.nav_bar_left li a span{
    height: 1px;
    width: 0%;
    background-color: #ffffff;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
}
.nav_bar_right{
    float: right;
    margin: 0;
    font-size: 1.1em;
}
.header .nav_bar_right a:hover{
    color: #fdfdfd;!important;
}
.nav_bar_right a:visited{
    color: #ffffff;
}
.nav_bar_right li{
    float: left;
    margin: 0 15px;
}
.login_register{
    display: none
}
.login_register a{
    margin-left: 20px;
}
.login_information{
    display: block;
}
.login_information a{
    margin-right: 20px;
    font-size: 0.7em;
    color: #ffffff;
    opacity: 0.8;
}
.login_information a:link{
    color: #ffffff;
}
.login_information a span:first-child{
    margin-right: 5px;
}
.nav_bar_right .search{
    height: 30px;
    margin-top: 15px;
    width: 150px;
    background: none;
    border-bottom: white solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    transition: 1s;
}
.search:focus{
    width: 200px;
}
.search_icon{
    margin: 0px 10px 0 -10px!important;
    font-size: 1.22em;
    opacity: 0.8;
}
/*导航结束*/

/*轮播图*/
.contain{
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}
.contain a:hover{
    color: #ffffff;
}
#list{
    width: 500%;
    height: 700px;
    position: absolute;
    z-index: 1;
}
#list img{
    float: left;
    width: 20%;
    height: 100%;
}
#buttons{
    width: 75px;
    height: 20px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 20px;
}
#buttons span{
    cursor: pointer;
    float: left;
    border: 1px solid #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #7e7e7e;
    margin-right: 5px;
    opacity: 0.6;
}
#buttons .on{
    background: orange;
}
.arrow{
    cursor: pointer;
    display: none;
    line-height: 70px!important;
    text-align: center;
    font-size: 30px;
    width: 40px;
    height:70px;
    z-index: 2000;
    background: rgba(0,0,0,.3);
    color: #ffffff;
}
.arrow:hover{
    background-color: rgba(0,0,0,.7);
    text-decoration: none;
}
.contain:hover .arrow{
    display: block;
}
#prev{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
#next{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*轮播图结束*/



/*快速浏览*/
.quick_look_at{
    height: 484px;
    position: relative;
}
.quick_look_at .content{
    width: 1200px;
    margin: auto;
    /*background-color: aquamarine;*/
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.the_label{
    height: 70px;
    width: 100%;
}
.the_label ul{
    margin: 0 60px 0 0;
    list-style: none;
}
.the_label ul li{
    float: right;
    margin: 0 20px 0 0;
    font-size: 1.3em;
    padding: 0px 8px;
    line-height: 50px;
    color: #6a6a6a;
    cursor: pointer;
}
.the_label ul li:hover{
    border-bottom: 2px solid #6a6a6a;
}
.segmentation{
    color: #c0c0c0!important;
    border: none!important;
}
.segmentation span{
    display: block;
    width: 2px;
    height: 25px;
    background-color: #c0c0c0;
    margin-top: 13px;
}
.content_img{
    width: 100%;
    height: calc(100% - 70px);
}
.content_img ul{
    list-style: none;
    margin: 0;
}
.content_img ul li{
    width: 32.66%;
    height: 365px;
    float: left;
    margin-right: 1%;
    font-size: 1.2em;
}
.content_img ul li:last-child{
    margin: 0!important;
}
.content_img ul li div{
    width: 100%;
    height: 100%;
}
.img{
    width: 100%;
    height: 260px;
}
.content_img ul li div span{
    line-height:30px;
    display: inline-block;
    margin-right: 10px;
    font-size: 0.9em;
}
.house_name{
    font-size: 1.1em!important;
}

/*快速浏览结束*/

/*新闻资讯*/
.news_information{
    width: 100%;
    position: relative;
    height: 811px;
}
.news_content{
    width: 1200px;
    height: 98%;
    /*background-color: antiquewhite;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.introduction{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.item{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #a1a1a1;
}
.item div span:first-child{
    font-size: 2.5em;
    color: #615f5c;
}
.item div span:last-child{
    font-size: 1em;
    color: #a1a1a1;
}
.item span sup{
    font-size: 0.3em;
    margin-left: 5px;
    color: #6a6a6a;
    top: -20px!important;
}
.news{
    width: 100%;
    height: calc(90% - 70px);
    text-align: center;
}
.news p:first-child{
    margin-top: 70px;
    font-size: 1.4em;
    color: #615f5c;
}
.news p+p{
    color: #c0c0c0;
    margin-bottom: 50px;
    font-size: 0.9em;
}
.news div>span{
    display: block;
    width: 250px;
    height: 1px;
    background-color: #c0c0c0;
    margin: 0 auto;
}
.news_left{
    height: calc(90% - 100px);
    width: 50%;
    float: left;
    margin: 5% 0 0 0;
    display: flex;
    flex-direction: column;
}
.item_news{
    flex: 1;
    position: relative;
    text-align: left;
}
.news_left div a{
    color: #6a6a6a;
    cursor: pointer;
}
.item_news a:first-child{
    font-size: 2em;
    line-height: 22px;
    position: absolute;
    left: 0;
    top: 0;
}
.item_news a:first-child span{
    font-size: 0.5em;
}
.item_news a+a{
    font-size: 1.2em;
    position: absolute;
    top: 0;
    left: 100px;
    line-height: 22px;
}
.item_news a+a:hover{
    color: #000;
}
.news_left p{
    font-size: 1.15em;
    position: absolute;
    top: 40px;
    left: 100px;
    line-height: 22px;
    color: #808080;
}
.news_right{
    height: calc(90% - 100px);
    width: 50%;
    float: right;
    margin: 5% 0 0 0;
    position: relative;
}
.news_right img{
    width: 85%;
    height: 80%;
    position: absolute;
    right: 0;
    top: 0;
}
/*新闻资讯结束*/

/*footer*/
footer{
    width: 100%;
    height: 100px;
    background-color: #2b2b2b;
}
.footer {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    color: #898782;
    position: relative;
}
.footer ul{
    list-style: none;
    margin: 0!important;
    text-align: center;
    display: block;
    position: absolute;
    top: 10px;
}
.footer ul li{
    float: left;
    font-size: 1.1em;
    margin-right: 20px;
}
.footer ul li a{
    color: #898782;
    cursor: pointer;
}
.footer p{
    position: absolute;
    top: 40px;
    line-height: 30px;
    margin: 0;
}
.footer span{
    position: absolute;
    right: 0;
    font-size: 1.7em;
    top: 10px;
}
/*footer结束*/


.dialog{
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.7;
    display: none;
}

/*登录model*/
.login_content{
    width: 360px;
    height: 320px;
    background-color: #ffffff;
    position: fixed;
    z-index: 2000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: none;
}
.login_content p{
    margin: 0!important;
    padding: 0!important;
}
.login_content_header{
    width: 100%;
    padding: 0 20px;
    position: relative;
}
.login_content_header h1{
    margin: 0;
    padding: 0;
    height: 49px;
    line-height: 49px;
    width: 100%;
    border-bottom: 1px solid #d0d6d9;
    font-size: 1.2em;
    color: #7e7e7e;
}
.login_header_span{
    float: left;
    line-height: 47px;
    padding: 0 18px 0 18px ;
    cursor: pointer;
    border-bottom: 2px solid red;
}
.login_header_span:hover{
    color: red;
}
.login_content_header button{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #ffffff;
    border: none;
    outline: none;
    font-size: 1.4em;
    color: #c1c1c1;
}
.login_content_header button:hover{
    color: red;
}
.login_body{
     width: 100%;
     padding: 0 30px;
     position: relative;
 }
.login_body p{
    padding: 0 18px!important;
    color: red;
    text-align: start!important;
}
.login_body p:first-child{
    line-height: 25px;
    height: 25px;
}
.login_body p{
    height: 20px;
    line-height: 20px;
}
.login_body input{
    width: 270px;
    padding: 12px 14px;
    border: 1px solid rgba(84,92,99,.6);
    border-radius: 6px;
    outline: none;
}
.func{
    width: 100%;
    padding: 0 20px;
    height: 20px;
}
.func a{
    color: #898782;
    cursor: pointer;
    float: left;
    margin-left: 80px;
}
.func a:hover{
    color: red;
}
.func span{
    float: left;
}
.func input{
    display: block;
    width: 13px!important;
    float: left;
    margin-right: 10px!important;
}
.login_body button{
    width: 290px;
    height: 48px;
    background-color: #f20d0d;
    border: none;
    border-radius: 30px;
    outline: none;
    color: #ffffff;
    font-size: 1.2em;
    letter-spacing: 20px;
}
.login_body button:hover{
    background-color: #c20a0a;
}
/*注册model*/
.register_content{
    width: 550px;
    height: 470px;
    background-color: #ffffff;
    position: fixed;
    z-index: 2000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: none;
}
.register_content_header{
    width: 100%;
    padding: 0 20px;
    position: relative;
}
.register_content_header h1{
    margin: 0;
    padding: 0;
    height: 49px;
    line-height: 49px;
    width: 100%;
    border-bottom: 1px solid #d0d6d9;
    font-size: 1.2em;
    color: #7e7e7e;
}
.register_header_span{
    float: left;
    line-height: 47px;
    padding: 0 18px 0 18px ;
    cursor: pointer;
    border-bottom: 2px solid red;
}
.register_header_span:hover{
    color: red;
}
.register_content_header button{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #ffffff;
    border: none;
    outline: none;
    font-size: 1.4em;
    color: #c1c1c1;
}
.register_content_header button:hover{
    color: red;
}
.register_body{
    width: 100%;
    padding: 10px 50px;
}
.register_body p{
    height: 18px;
    line-height: 18px;
    color: red;
    text-align: start!important;
    margin: 0;
    text-indent: 105px;
}
.register_form{
    width: 100%;
    height: 60px;
    line-height: 30px;
    text-align: start;
}
.register_form label{
    width: 80px;
    text-align: end;
    margin-right: 20px;
}
.register_body em{
    color: #ff0000;
    margin: 0 6px 0 0;
    font-size: 1.1em;
    line-height: 32px;
}
.register_form input{
    width: 250px;
    padding: 5px 3px;
    border: 1px solid rgba(84,92,99,.6);
    border-radius: 6px;
    height: 35px;
}
.register_form p{
    height: 20px;
    line-height: 15px;
}
.gender{
    text-align: start;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.gender label{
    width: 80px;
    text-align: end;
    margin: 0 20px 0px 0;
}
.gender input{
    width: 15px;
    height: 15px;
    margin: 0px!important;
}
.gender span{
    margin: 0 20px 0 10px;
}
.register_body button{
    width: 90px;
    height: 35px;
    border: none;
    background-color: red;
    color: #ffffff;
    margin: 0 0 0 370px;
    outline: none;
    border-radius: 10px;
}
