/*顶部导航栏*/
body{
    background-color: #f0f0f0!important;
    min-width: 1250px;
}
ul{
    list-style: none;
}
a{
    cursor: pointer;
}
.wrapper_index header{
    width: 100%;
    height: 55px;
}
.navigation{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #3cb570;
}
.navigation .logo{
    width: 100px;
    height: 100%;
    float: left;
    font-family: "华文隶书";
    color: #ffffff;
    line-height: 55px;
    text-align: center;
    font-size: 2.6em;
}
.navigation .menu{
    width: 900px;
    height: 100%;
    line-height: 55px;
}
.menu ul{
    margin: 0px;
}
.menu ul li{
    float: left;
    margin-right: 20px;
    font-size: 1.1em;
}
.menu ul li a{
    color: #ffffff;
}
.menu ul li a:hover{
    text-decoration: none;
}
.menu .person{
    float: right;
    color: #a1a1a1;
    width: 145px;
}
.person span{
    color: #ffffff;
}
.person a{
    color: #ffffff;
}
.person a:hover{
    color: #ffffff;
}
.menu a:last-child{
    margin-left: 10px;
}
/*结束*/
.user_information{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
}
.user_information .left{
    width: 150px;
    height: 700px;
    padding: 35px 0 6px 0;
    background-color: #ffffff;
    float: left;
    box-shadow: 0 0 5px #adaba2;
}
.person_img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-image: url("../img/img1.jpg");
    background-size: cover;
}
.person_name{
    width: 100%;
    height: 48px;
    padding: 15px 5px;
}
.person_name a{
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 1em;
    color: #52514d;
}
.person_name a:hover{
    color: #52514d;
    text-decoration: none;
}
.left ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.left ul li{
    line-height: 40px;
    text-align: center;
    font-size: 1.15em;
    margin-bottom: 10px;
}
.left ul li a:hover{
    text-decoration: none;
}
.left ul li a{
    color: #52514d;
    display: inline-block;
    width: 108px;
    text-align: start;
}
.user_information .right{
    width: 827px;
    height: auto;
    float: right;
    padding: 35px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #adaba2;
}


/*个人信息*/
.person_information{
    width: 100%;
    height: 350px;
    position: relative;
    display: none;
}
.header{
    font-size: 1.8em;
    color: #000;
    border-bottom: 2px solid #3cb570;
}
.header_menu{
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    margin: 20px 0 20px 0;
}
.header_menu a{
    display: block;
    float: left;
    width: 70px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    margin: 0 15px 0 0;
    cursor: pointer;
    color: #595959;
}
.menu_person_information{
    display: block;
}
.header_menu_a{
    background-color: #a1a1a1;
}
.header_menu a:hover{
    color: #595959;
    text-decoration: none;
}
.person_information .content{
    width: 100%;
    text-align: start;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}
.person_information .head_portrait{
    position: absolute;
    width: 120px;
    height: 120px;
    right: 120px;
    top:90px;
    background-image: url("../img/img2.jpg");
    background-size: cover;
}
.content label{
    width: 70px;
    text-align: end;
}
.content input{
    height: 30px;
    width: 300px;
    color: #555;
    border: none;
    /*border: 1px solid #ccc;*/
    padding: 6px 12px;
    margin-left: 30px;
    outline: none;
}
.modify_information{
    display: none;
}
.form_input{
    width: 50%;
    height: 40px;
    margin: 5px 20px 0 0px;
}
.form_input>label{
    display: block;
    width: 20%;
    text-align: right;
    float: left;
    margin: 5px 10px 0 0;
}
.radios{
    float: left;
    width: 200px;
}
.radios input{
    margin-right: 5px!important;
}
.radios label{
    margin-right: 20px;
}
.form_input input[type="text"]{
    width: 60%;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #a8a8a8;
    outline: none;
    float: left;
}
.form_input button{
    background-color: #f5f5f5;
    outline: none;
    border: 1px solid #dbe2e8;
    width: 280px;
    height: 35px;
    margin: 10px 0px 0 30px;
    font-size: 1.2em;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1em;
}
.modify_password{
    display: none;
}
/*发布房屋信息*/
.publish_house{
    width: 100%;
    height: auto;
    display: none;
    position: relative;
}
.house_content{
    width: 50%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    text-align: start;
    position: relative;
    float: left;
}
.house_content .select{
    width: 250px;
    height: 40px;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 112px;
    transform: translateY(-50%);
    border-radius: 5px;
    line-height: 40px;
    cursor: pointer;
}
.select span{
    color: #a1a1a1;
}
.select input{
    width: 90%;
    height: 95%;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    color:#a1a1a1;
}
.publish_house ul{
    list-style: none;
    z-index: 100;
    border: 1px solid #a1a1a1;
    background-color: #ffffff;
    padding: 0;
    box-shadow: 2px 2px 2px #a1a1a1;
    display: none;
}
#select_send_1{
    position: absolute;
    right: 15px;
    top: 48px;
}
#select_send_2{
    position: absolute;
    left: 110px;
    top: 290px;
}
#select_send_3{
    position: absolute;
    left: 110px;
    top: 350px;
}
#select_send_4{
    position: absolute;
    right: 15px;
    top: 350px;
}
.publish_house ul li{
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    text-indent: 1em;
    letter-spacing: 1em;
    color: #939393;
    cursor: pointer;
}
.select_send li:hover{
    background-color: #f0f0f0;
}
.house_content p{
    padding: 0;
    margin: 0;
    line-height: 15px;
    height: 15px;
    text-align: center;
    width: 100px;
    margin-left: 115px;
    color: red;
    text-align: start;
}
.house_content label{
    width:80px;
    text-align: end;
    line-height: 40px;
    margin-left: 15px;
}
.house_content label span{
    color: red;
    font-size: 1.5em;
    margin-right: 5px;
    line-height: 20px;
}
.house_content>input{
    height: 40px;
    width: 250px;
    color: #555;
    border: 1px solid #ccc;
    padding: 6px 10px;
    outline: none;
    border-radius: 5px;
    margin-left: 15px;
}
.house_textarea{
    width: 50%;
    float: left;
    position: relative;
}
.house_textarea label{
    width:80px;
    text-align: end;
    margin-left: 15px;
    position: absolute;
    top: 30%;
}
.house_textarea label span{
    color: red;
    font-size: 1.5em;
    margin-right: 5px;
    line-height: 20px;
}
.house_textarea textarea{
    position: absolute;
    left: 115px;
    width: 249px;
    height: 100px;
}
.house_img{
    width: 62%;
    height: 60px;
    display: flex;
    align-items: center;
    float: left;
}
.house_img img{
    width: 60px;
    height: 60px;
    margin-left: 12px;
}

.file {
    position: relative;
    display: inline-block;
    background: #b7b4ac;
    border: 1px solid #b7b4ac;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.file:hover {
    background: #b7b4ac;
    border-color: #b7b4ac;
    color: #ffffff;
    text-decoration: none;
}
.button{
    width: 100%;
    text-align: center;
    margin-top: 20px;
   float: left;
}
.button button{
    height: 40px;
    width: 300px;
    border: none;
    background-color: #3cb570;
    letter-spacing: 10px;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
}
/*房屋信息管理*/
.manage_house{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: none;
}
.manage_content{
    width: 100%;
    height: 72px;
    padding: 24px 0;
    border-bottom: 1px solid #f3efe4;
}
.manage_content>span{
    width: 120px;
    display: inline-block;
    float: left;
    text-align: start;
    font-size: 1.1em;
}
.manage_input{
    width: calc(100% - 160px);
    height: 100%;
    float: left;
}
.manage_input input{
    border: none;
    outline: none;
    color: #b7b4ac;
    width: 80%;
    float: left;
}
.manage_input .action_box{
    width: 20%;
    height: 100%;
    float: left;
    text-align: end;
    line-height: 23px;
}
.action_box span{
    margin-right: 5px;
}
.manage_img{
    width: 100%;
    height: 72px;
    padding: 5px 0;
    line-height: 72px;
    border-bottom: 1px solid #f3efe4;
}
.manage_img>span{
    width: 120px;
    display: inline-block;
    float: left;
    text-align: start;
    font-size: 1.1em;
    height: 100%;
}
.action_img{
    width: calc(100% - 120px);
    height: 100%;
    float: left;
    line-height: 100%;
}
.action_img div{
    width: calc(100% / 6);
    height: 100%;
    position: relative;
    float: left;
    margin-left: 10px;
}
.action_img img{
    width: 100%;
    height: 100%;
}
.action_img div:hover span{
    display: block;
}
.action_img span{
    display: block;
    position: absolute;
    width: 18px;
    height: 12px;
    font-size: 1.5em;
    background-color: #ff413c;
    color: #f0f0f0;
    border-radius: 30%;
    text-align: center;
    font-weight: bold;
    right: 0;
    cursor: pointer;
    opacity: 0.8;
    display: none;
}
/*发布记录管理*/
.record{
    width: 100%;
    height: auto;
    display: none;
}
.record ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.record>ul>li{
    height: 190px;
    border-bottom: 1px solid #f3efe4;
    padding-top: 20px;
    cursor: pointer;
}
.record>ul>li:hover{
    /*background-color: #f9f9f9;*/
}
.record_content{
    width: 100%;
    height: 150px;
    position: relative;
}
.record_content>span{
    position: absolute;
    width: 40px;
    text-align: center;
    display: block;
    right: 10px;
    top: -15px;
    font-size: 15px;
    color: #d3d3d3;
    z-index: 200;
}
.record_content .record_menu{
    width: 110px;
    height: 90px;
    position: absolute;
    right: -15px;
    top: 0px;
    z-index: 100;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
}
.record_menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.record_menu ul li{
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.record_menu ul li:hover{
    background-color: #f0f0f0;
}
.record_content a{
    display: block;
    width: 180px;
    height: 100%;
    float: left;
}
.modify_button{
    position: absolute;
    display: block;
    bottom: 5px;
    right: 10px;
    border: none;
    background-color: rgba(0,0,0,.1);
    width: 60px;
    height: 30px;
    outline: none;
    display: none;
    border-radius: 5px;
}
.record ul li:hover .modify_button{
    display: block;
}
.record_content a img{
    width: 100%;
    height: 100%;
}
.record_describe{
    width: 550px;
    float: right;
    height: 100%;
}
.record_describe h3{
    margin: 0;
    display: inline-block;
    width: 100%;
}
.record_describe h3 a{
    width: auto;
}
.record_describe .address{
   height: auto;
    width: 100%;
    margin-top: 10px;
}
.address span{
    margin-right: 15px;
    font-size: 1.1em;
}
.detailed{
    width: 100%;
    height: auto;
    margin-top: 10px;
    color: #acacac;
}
.detailed span{
    margin-right: 20px;
}
.state{
    width: 100%;
    height: auto;
    margin-top: 10px;
    height: 30px;
}
.state span{
    display: block;
    float: left;
    width: 70px;
    height: 27px;
    padding: 2px;
    margin-right: 20px;
    text-align: center;
    border: 1px solid #5e9d58;
    color: #487a91;
}
.record_describe .price{
    position: absolute;
    width: 120px;
    height: 60px;
    top: 25px;
    right: 0;
    text-align: end;
}
.price span:first-child{
    color: red;
    font-size: 1.9em;
    font-weight: bold;
}
.price span:last-child{
    font-size: 1.1em;
    margin-top: 5px;
    display: block;
}
.paging{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.paging_a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #1f1f1f;
    border: 1px solid #c2c2c2;
    float: left;
    font-weight: bold;
    margin-right: 5px;
}
.paging_a:hover{
    text-decoration: none;
    color: #1f1f1f;
}
.next_previous{
    display: block;
    width: 65px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #1f1f1f;
    border: 1px solid #c2c2c2;
    float: left;
    margin-right: 5px;
}
.next_previous:hover{
    text-decoration: none;
    color: #1f1f1f;
}
.manger_button{
    background-color: #3cb570;
    border: none;
    outline: none;
    width: 300px;
    height: 40px;
    color: #FFFFFF;
    margin-left: 100px;
}
/*购买与销售*/
.seller_log{
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid red;
    line-height: 60px;
    text-align: center;
    color: #ff413c;
    top: 5px;
    left: 5px;
}
.buyer{
    width: 50%;
    height: auto;
    float: left;
    margin-top: 10px;
}
.seller{
    width: 50%;
    height: auto;
    float: right;
    margin-top: 10px;
}
.trad_content{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.trad_content label{
    margin: 0;
    width: 70px;
    text-align: left;
    color: #4e4e4e;
}
.trad_content span{
    color: #6e6e6e;
}



/*加载中*/
.loading{
    width: 100%;
    height: 450px;
    display: none;
    position: relative;
}
.loading span:first-child{
    font-size: 3.5em;
    color: #a1a1a1;
    position: absolute;
    top: 30%;
    left: 30%;
}
.loading span:last-child{
    font-size: 1.8em;
    color: #a1a1a1;
    position: absolute;
    top: 32%;
    left: 40%;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin3 .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    -moz-animation: spin4 .7s infinite linear;
}

/* Safari 和 Chrome */
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* IE9以上 */
@-ms-keyframes spin3 {
    from { -ms-transform: scale(1) rotate(0deg);}
    to { -ms-transform: scale(1) rotate(360deg);}
}

/* Firefox */
@-moz-keyframes spin4 {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}







footer{
    margin-top: 58px;
}
.footer{
    width: 1000px;
    text-align: center;
    height: 100px;
    margin: 0 auto;
}
.footer ul{
    display: flex;
    justify-content: center;
    margin: 0;
}
.footer ul li{
    float: left;
    margin-right: 10px;
}
.footer ul li a{
    color: #919191;
}
.footer p{
    color: #919191;
}
